.roverDetailContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 60px; 
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #FFFFFF;
    text-align: center; 
    margin-bottom: 15px;
}

.roverDetail {
    font-size: 16px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

.cameraList {
    list-style-type: none;
    padding: 0;
  }
  
  .cameraList li {
    margin-bottom: 5px;
    color: #6677cc;
  }

.cameraName {
    font-weight: bold;
    color: #6677cc;
  }
  
  /* Style for the camera full name */
  .cameraFullName {
    color: #777;
  }